# Exploratory data analysis
The goal of this file currently is to explore pandas and visualize some data

In [3]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt

# Load the dataset
df = pd.read_excel("./data/DummyData_Extended.xlsx")

In [4]:
# Display the first few rows of the dataset
print("\nFirst 5 rows of the dataset:")
df.head()

First 5 rows of the dataset:

,Record ID,Age,Male,White,Date of Procedure,Extremity,Artery affected,BMI,Tobacco Use,Diabetes,...,AA % Aggregation,AA % Inhibition,CK R (min),CK K (min),CK angle (deg),CK MA (mm),CRT MA (mm),CKH R (min),CFF MA (mm),CFF FLEV (mg/dL)
0,9,71,0,0,NaN,Left,Femoral,30.878150,3,1,...,56.778741,17.638901,3.386632,1.855569,60.311369,45.146627,35.864732,2.283344,36.500137,10.589905
1,65,49,0,0,NaN,Right,Femoral,31.000611,2,1,...,56.808946,19.050580,3.056822,1.700825,59.664139,43.348083,36.106428,2.471370,36.193072,9.896531
2,24,71,0,1,NaN,Right,Popliteal,28.088584,2,1,...,54.634166,17.637000,3.296529,1.893613,59.223128,43.758536,35.266328,2.422400,34.217574,11.060189
3,48,67,1,1,NaN,Right,Tibial,26.354188,2,0,...,57.468173,17.860942,3.132582,1.635525,58.098740,43.168904,36.230352,2.418887,34.493469,9.439621
4,74,69,0,0,NaN,Right,Tibial,29.386684,3,1,...,55.636498,17.951208,3.250705,1.622630,60.851424,43.896460,36.121585,2.213384,36.127036,9.641269

In [5]:
# Display basic information about the dataset
print("Dataset Information:")
df.info()

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 70 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Record ID                                                   150 non-null    int64
 1   Age                                                         150 non-null    int64
 2   Male                                                        150 non-null    int64
 3   White                                                       150 non-null    int64
 4   Date of Procedure                                           0 non-null      float64
 5   Extremity                                                   150 non-null    object
 6   Artery affected                                             150 non-null    object
 7   BMI                                                         150 non-null    float64
 8   Tobacco Use                                                 150 non-null    int64
 9   Diabetes                                                    150 non-null    int64
 10  HbA1c Baseline                                              150 non-null    int64
 11  Hypertension                                                150 non-null    int64
 12  Hyperlipidemia                                              74 non-null     object
 13  CKD                                                         150 non-null    int64
 14  Coronary Artery Disease                                     150 non-null    int64
 15  History of MI                                               150 non-null    int64
 16  Functional Status                                           150 non-null    object
 17  Clotting Disorder                                           150 non-null    int64
 18  Does Subject Currently have cancer?                         150 non-null    int64
 19  Past hx of cancer                                           150 non-null    int64
 20  Hx of DVT                                                   150 non-null    int64
 21  Hx of stroke                                                150 non-null    int64
 22  Hx of pulmonary embolism                                    150 non-null    int64
 23  Does the patient have a history of solid organ transplant?  150 non-null    int64
 24  EGFR (mL/min/1.73mÂ²)                                        150 non-null    int64
 25  Has subject had previous intervention of the index limb?    150 non-null    int64
 26  Previous occluded stents                                    150 non-null    int64
 27  Previous failed bypass                                      150 non-null    int64
 28  Rutherford Score                                            150 non-null    int64
 29  ABI Right                                                   150 non-null    float64
 30  ABI Left                                                    150 non-null    float64
 31  Intervention Classification                                 150 non-null    object
 32  Angioplasty                                                 150 non-null    int64
 33  Stent                                                       150 non-null    int64
 34  Thrombectomy                                                150 non-null    int64
 35  Endarterectomy                                              150 non-null    int64
 36  DVA                                                         150 non-null    int64
 37  Bypass                                                      150 non-null    int64
 38  Aspirin Dose                                                150 non-null    int64
 39  Plavix Dose                                                 150 non-null    int64
 40  NAPT                                                        150 non-null    float64
 41  MAPT                                                        150 non-null    float64
 42  DAPT                                                        150 non-null    float64
 43  Anticoagulation                                             59 non-null     object
 44  DOAC                                                        150 non-null    int64
 45  Statin                                                      150 non-null    object
 46  Cilostazol                                                  150 non-null    object
 47  Date of Thrombosis                                          0 non-null      float64
 48  Visit Timepoint                                             150 non-null    object
 49  Date of Blood Draw                                          0 non-null      float64
 50  Reaction Time (R) in min                                    150 non-null    float64
 51  Lysis at 30 min (LY30) in %                                 150 non-null    float64
 52  CRT Max amplitude (MA) in mm                                150 non-null    float64
 53  CFF Max Amplitude (MA) in mm                                150 non-null    float64
 54  HKH MA (mm)                                                 150 non-null    float64
 55  ActF MA (mm)                                                150 non-null    float64
 56  ADP MA (mm)                                                 150 non-null    float64
 57  AA MA (mm)                                                  150 non-null    float64
 58  ADP % Aggregation                                           150 non-null    float64
 59  ADP % Inhibition                                            150 non-null    float64
 60  AA % Aggregation                                            150 non-null    float64
 61  AA % Inhibition                                             150 non-null    float64
 62  CK R (min)                                                  150 non-null    float64
 63  CK K (min)                                                  150 non-null    float64
 64  CK angle (deg)                                              150 non-null    float64
 65  CK MA (mm)                                                  150 non-null    float64
 66  CRT MA (mm)                                                 150 non-null    float64
 67  CKH R (min)                                                 150 non-null    float64
 68  CFF MA (mm)                                                 150 non-null    float64
 69  CFF FLEV (mg/dL)                                            150 non-null    float64
dtypes: float64(29), int64(32), object(9)
memory usage: 82.2+ KB

Categorical data encoding

In [12]:
# Dummy encoding
df_encoded = pd.get_dummies(df, columns=['Artery affected',"Extremity",'Anticoagulation','Intervention classification'], 
                            prefix=['Artery affected','Extremity','Anticoagulation','Intervention classification'])
df_encoded

,Record ID,Age,Male,White,Date of Procedure,BMI,Tobacco Use,Diabetes,HbA1c Baseline,Hypertension,...,CK MA (mm),CRT MA (mm),CKH R (min),CFF MA (mm),CFF FLEV (mg/dL),Artery affected_Femoral,Artery affected_Popliteal,Artery affected_Tibial,Extremity_Left,Extremity_Right
0,9,71,0,0,NaN,30.878150,3,1,8,0,...,45.146627,35.864732,2.283344,36.500137,10.589905,True,False,False,True,False
1,65,49,0,0,NaN,31.000611,2,1,7,1,...,43.348083,36.106428,2.471370,36.193072,9.896531,True,False,False,False,True
2,24,71,0,1,NaN,28.088584,2,1,8,1,...,43.758536,35.266328,2.422400,34.217574,11.060189,False,True,False,False,True
3,48,67,1,1,NaN,26.354188,2,0,5,1,...,43.168904,36.230352,2.418887,34.493469,9.439621,False,False,True,False,True
4,74,69,0,0,NaN,29.386684,3,1,6,0,...,43.896460,36.121585,2.213384,36.127036,9.641269,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,1,70,0,1,NaN,28.406442,3,1,6,1,...,44.121772,34.859000,2.531415,35.672805,10.462963,False,False,True,False,True
146,6,63,0,0,NaN,32.165881,3,0,8,1,...,44.775951,35.418618,2.639576,35.563274,11.062118,True,False,False,False,True
147,20,57,0,0,NaN,30.530348,3,1,6,0,...,44.220127,35.831759,2.291857,36.065639,10.313870,True,False,False,True,False
148,4,56,0,0,NaN,31.480867,3,1,5,0,...,45.061634,36.193071,2.613724,36.625659,11.384205,False,False,True,True,False
149,35,58,1,1,NaN,25.836167,3,0,7,1,...,44.262278,34.951401,2.350047,34.572300,10.431997,False,False,True,False,True

In [ ]:
output_file = './data/Preprocessed_Data.xlsx'
df.to_excel(output_file, index=False)

In [11]:
# Convert the values in the specified column to boolean
df['Male'] = df['Male'].astype(bool)
df['White'] = df['White'].astype(bool)
df['Diabetes'] = df['Diabetes'].astype(bool)
df['Tobacco Use'] = df['Tobacco Use'].astype(bool)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 70 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   Record ID                                                   10 non-null     int64
 1   Age                                                         10 non-null     int64
 2   Male                                                        10 non-null     bool
 3   White                                                       10 non-null     bool
 4   Date of Procedure                                           10 non-null     datetime64[ns]
 5   Extremity                                                   10 non-null     object
 6   Artery affected                                             10 non-null     object
 7   BMI                                                         10 non-null     float64
 8   Tobacco Use                                                 10 non-null     bool
 9   Diabetes                                                    10 non-null     bool
 10  HbA1c Baseline                                              10 non-null     float64
 11  Hypertension                                                10 non-null     int64
 12  Hyperlipidemia                                              5 non-null      object
 13  CKD                                                         10 non-null     int64
 14  Coronary Artery Disease                                     10 non-null     int64
 15  History of MI                                               10 non-null     int64
 16  Functional Status                                           10 non-null     object
 17  Clotting Disorder                                           10 non-null     int64
 18  Does Subject Currently have cancer?                         10 non-null     int64
 19  Past hx of cancer                                           10 non-null     int64
 20  Hx of DVT                                                   10 non-null     int64
 21  Hx of stroke                                                10 non-null     int64
 22  Hx of pulmonary embolism                                    10 non-null     int64
 23  Does the patient have a history of solid organ transplant?  10 non-null     int64
 24  EGFR (mL/min/1.73mÂ²)                                        10 non-null     int64
 25  Has subject had previous intervention of the index limb?    10 non-null     int64
 26  Previous occluded stents                                    10 non-null     int64
 27  Previous failed bypass                                      10 non-null     int64
 28  Rutherford Score                                            10 non-null     int64
 29  ABI Right                                                   10 non-null     float64
 30  ABI Left                                                    10 non-null     float64
 31  Intervention Classification                                 10 non-null     object
 32  Angioplasty                                                 10 non-null     int64
 33  Stent                                                       10 non-null     int64
 34  Thrombectomy                                                10 non-null     int64
 35  Endarterectomy                                              10 non-null     int64
 36  DVA                                                         10 non-null     int64
 37  Bypass                                                      10 non-null     int64
 38  Aspirin Dose                                                10 non-null     int64
 39  Plavix Dose                                                 10 non-null     int64
 40  NAPT                                                        10 non-null     float64
 41  MAPT                                                        10 non-null     float64
 42  DAPT                                                        10 non-null     float64
 43  Anticoagulation                                             4 non-null      object
 44  DOAC                                                        10 non-null     int64
 45  Statin                                                      10 non-null     object
 46  Cilostazol                                                  10 non-null     object
 47  Date of Event                                               10 non-null     datetime64[ns]
 48  Visit Timepoint                                             10 non-null     object
 49  Date of Blood Draw                                          10 non-null     datetime64[ns]
 50  Reaction Time (R) in min                                    10 non-null     float64
 51  Lysis at 30 min (LY30) in %                                 10 non-null     float64
 52  CRT Max amplitude (MA) in mm                                10 non-null     float64
 53  CFF Max Amplitude (MA) in mm                                10 non-null     float64
 54  HKH MA (mm)                                                 10 non-null     float64
 55  ActF MA (mm)                                                10 non-null     float64
 56  ADP MA (mm)                                                 10 non-null     float64
 57  AA MA (mm)                                                  10 non-null     float64
 58  ADP % Aggregation                                           10 non-null     float64
 59  ADP % Inhibition                                            10 non-null     float64
 60  AA % Aggregation                                            10 non-null     float64
 61  AA % Inhibition                                             10 non-null     float64
 62  CK R (min)                                                  10 non-null     float64
 63  CK K (min)                                                  10 non-null     float64
 64  CK angle (deg)                                              10 non-null     float64
 65  CK MA (mm)                                                  10 non-null     float64
 66  CRT MA (mm)                                                 10 non-null     float64
 67  CKH R (min)                                                 10 non-null     float64
 68  CFF MA (mm)                                                 10 non-null     float64
 69  CFF FLEV (mg/dL)                                            10 non-null     float64
dtypes: bool(4), datetime64[ns](3), float64(27), int64(27), object(9)
memory usage: 5.3+ KB

In [12]:
# Summary statistics of numeric columns
print("\nSummary Statistics:")
df.describe()

Summary Statistics:

,Record ID,Age,Date of Procedure,BMI,HbA1c Baseline,Hypertension,CKD,Coronary Artery Disease,History of MI,Clotting Disorder,...,AA % Aggregation,AA % Inhibition,CK R (min),CK K (min),CK angle (deg),CK MA (mm),CRT MA (mm),CKH R (min),CFF MA (mm),CFF FLEV (mg/dL)
count,10.00000,10.000000,10,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,5.50000,58.000000,2023-07-27 14:24:00,29.240000,7.000000,0.600000,0.400000,0.500000,0.300000,0.300000,...,56.020000,18.110000,3.160000,1.750000,58.920000,43.630000,35.600000,2.510000,35.270000,10.390000
min,1.00000,45.000000,2023-03-15 00:00:00,25.800000,5.900000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54.100000,17.400000,3.000000,1.600000,57.200000,42.100000,34.600000,2.200000,33.700000,9.300000
25%,3.25000,51.250000,2023-05-23 06:00:00,27.400000,6.550000,0.000000,0.000000,0.000000,0.000000,0.000000,...,54.975000,17.825000,3.025000,1.700000,57.800000,42.625000,34.975000,2.400000,34.600000,9.850000
50%,5.50000,58.500000,2023-07-23 12:00:00,28.900000,6.900000,1.000000,0.000000,0.500000,0.000000,0.000000,...,56.050000,18.050000,3.150000,1.750000,58.800000,43.750000,35.750000,2.500000,35.250000,10.400000
75%,7.75000,62.750000,2023-09-28 06:00:00,31.400000,7.425000,1.000000,1.000000,1.000000,0.750000,0.750000,...,56.950000,18.375000,3.275000,1.800000,59.900000,44.550000,36.150000,2.675000,35.975000,10.950000
max,10.00000,72.000000,2023-12-17 00:00:00,32.400000,8.300000,1.000000,1.000000,1.000000,1.000000,1.000000,...,58.200000,19.200000,3.400000,1.900000,61.200000,45.400000,36.500000,2.800000,36.800000,11.500000
std,3.02765,8.717798,NaN,2.341984,0.746845,0.516398,0.516398,0.527046,0.483046,0.483046,...,1.296834,0.506513,0.142984,0.108012,1.326482,1.154749,0.708676,0.191195,0.977582,0.740045

In [13]:
# Check for missing values
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
Record ID            0
Age                  0
Male                 0
White                0
Date of Procedure    0
                    ..
CK MA (mm)           0
CRT MA (mm)          0
CKH R (min)          0
CFF MA (mm)          0
CFF FLEV (mg/dL)     0
Length: 70, dtype: int64